---
interface Props {
  id: number;
  quote: string;
  name: string;
  company: string;
}

const { id, quote, name, company } = Astro.props;
---

<article
  data-testimonial-id={id}
  class='testimonial-card w-full max-w-md shrink-0 space-y-4 rounded-xl bg-zinc-100 px-5 py-6 opacity-0 md:snap-center'
>
  <blockquote>
    <p class='leading-normal italic'>
      &ldquo;{quote}&rdquo;
    </p>
  </blockquote>

  <footer class='flex flex-col gap-1'>
    <strong class='font-semibold'>{name}</strong>
    <span>{company}</span>
  </footer>
</article>
