---
import Button from '@components/ui/Button.astro';
---

<figcaption
  class='flex flex-col justify-center space-y-4 rounded-lg bg-[#DAF4FE] p-3 text-center text-[10px]'
>
  <div class='space-y-2'>
    <h3 class='text-xs font-bold'>Team call</h3>
    <p>You've been invited to a virtual meeting by John</p>
  </div>
  <p class='font-bold'>Jan 17 at 9AM</p>
  <Button size='icon'>Join</Button>
</figcaption>
